# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

```markdown
Carguemos el archivo CSV desde la URL proporcionada en el dataframe de pandas para comenzar con el proceso de limpieza y análisis de datos. Utilizaremos la variable `url` que contiene el enlace al archivo.
```

In [6]:
import pandas as pd 

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
print(df.head())
print(df.info())
print(df.describe())
print(df.columns)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [7]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df = df.rename(columns={'st': 'state'})
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

El conjunto de datos contiene columnas con valores inconsistentes e incorrectos que podrían afectar la precisión de nuestro análisis. Por lo tanto, necesitamos limpiar estas columnas para asegurarnos de que solo contengan datos válidos.

Nota que este ejercicio se centrará únicamente en limpiar valores inconsistentes y no incluirá el manejo de valores nulos (NaN o None).

*Pista*:
- *La columna Gender contiene varios valores inconsistentes como "F", "M", "Femal", "Male", "female", que necesitan ser estandarizados, por ejemplo, a "M" y "F".*
- *Las abreviaturas de los estados pueden ser reemplazadas por su nombre completo, por ejemplo, "AZ": "Arizona", "Cali": "California", "WA": "Washington".*
- *En la columna Education, "Bachelors" podría ser reemplazado por "Bachelor".*
- *En Customer Lifetime Value, elimina el carácter `%`.*
- *En Vehicle Class, "Sports Car", "Luxury SUV" y "Luxury Car" podrían ser reemplazados por "Luxury".*

In [8]:
# Standardize the 'gender' column
df['gender'] = df['gender'].str.strip().str.lower().replace({
    'f': 'F', 'female': 'F', 'femal': 'F',
    'm': 'M', 'male': 'M'
})

# Define state mapping
state_mapping = {
    'AZ': 'Arizona',
    'WA': 'Washington',
    'NV': 'Nevada',
    'CA': 'California'
}

# Replace state abbreviations with full names
df['state'] = df['state'].replace(state_mapping)

# Standardize the 'education' column
df['education'] = df['education'].str.replace('Bachelors', 'Bachelor')

# Remove '%' from 'customer_lifetime_value' and convert to numeric
df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True).astype(float)

# Replace specific vehicle classes with 'Luxury'
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

print(df.head())

  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

Es importante tener en cuenta que este ejercicio no incluye el manejo de valores nulos (NaN o None).

*Hint*:
- *El valor de por vida del cliente debe ser numérico*  
- *El número de quejas abiertas tiene un formato incorrecto. Observa los diferentes valores que toma con `unique()` y toma el valor intermedio. Por ejemplo, 1/5/00 debería ser 5. El número de quejas abiertas es una cadena: recuerda que puedes usar `split()` para manejarlo y tomar el número que necesitas. Finalmente, dado que debe ser numérico, convierte la columna a su tipo adecuado.*

In [9]:
# Ensure column names are standardized
df.columns = df.columns.str.replace(' ', '_').str.lower()

# Convert 'customer_lifetime_value' to numeric
df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True).astype(float)

# Fix 'number_of_open_complaints' column
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(
    lambda x: int(x.split('/')[1]) if isinstance(x, str) and '/' in x else x
).astype(float)

print(df[['customer_lifetime_value', 'number_of_open_complaints']].head())

   customer_lifetime_value  number_of_open_complaints
0                      NaN                        0.0
1                697953.59                        0.0
2               1288743.17                        0.0
3                764586.18                        0.0
4                536307.65                        0.0

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [10]:
# Identify columns with null values and count them
null_counts = df.isnull().sum()
print("Null values in each column:")
print(null_counts)

# Strategy for handling null values:
# - For numerical columns, fill null values with the median
# - For categorical columns, fill null values with the mode

# Fill null values for numerical columns
numerical_columns = df.select_dtypes(include=['float64']).columns
for col in numerical_columns:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)

# Fill null values for categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    mode_value = df[col].mode()[0]
    df[col] = df[col].fillna(mode_value)

# Verify that there are no null values remaining
print("\nNull values after handling:")
print(df.isnull().sum())

# Convert all numeric variables to integers
numeric_columns = df.select_dtypes(include=['float64']).columns
df[numeric_columns] = df[numeric_columns].astype(int)

print("\nData types after conversion:")
print(df.dtypes)

Null values in each column:
customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

Null values after handling:
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Data types after conversion:
customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [11]:
# Identify duplicate rows in the dataframe
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

# Strategy: Drop all duplicate rows and reset the index
df = df.drop_duplicates().reset_index(drop=True)

# Verify that duplicates have been removed
duplicates_after = df.duplicated()
print(f"Number of duplicate rows after removal: {duplicates_after.sum()}")

# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_data.csv', index=False)
print("Cleaned dataset saved to 'cleaned_data.csv'.")

Number of duplicate rows: 2936
Number of duplicate rows after removal: 0
Cleaned dataset saved to 'cleaned_data.csv'.

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [12]:
import pandas as pd

# data_cleaning.py


def load_data(url):
    """Load data from a given URL."""
    return pd.read_csv(url)

def standardize_column_names(df):
    """Standardize column names to lowercase and replace spaces with underscores."""
    df.columns = df.columns.str.replace(' ', '_').str.lower()
    df = df.rename(columns={'st': 'state'})
    return df

def clean_invalid_values(df):
    """Clean invalid values in the dataframe."""
    # Standardize the 'gender' column
    df['gender'] = df['gender'].str.strip().str.lower().replace({
        'f': 'F', 'female': 'F', 'femal': 'F',
        'm': 'M', 'male': 'M'
    })

    # Define state mapping
    state_mapping = {
        'AZ': 'Arizona',
        'WA': 'Washington',
        'NV': 'Nevada',
        'CA': 'California'
    }

    # Replace state abbreviations with full names
    df['state'] = df['state'].replace(state_mapping)

    # Standardize the 'education' column
    df['education'] = df['education'].str.replace('Bachelors', 'Bachelor')

    # Remove '%' from 'customer_lifetime_value' and convert to numeric
    df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True).astype(float)

    # Replace specific vehicle classes with 'Luxury'
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury',
        'Luxury SUV': 'Luxury',
        'Luxury Car': 'Luxury'
    })

    return df

def format_data_types(df):
    """Format data types of columns."""
    # Fix 'number_of_open_complaints' column
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(
        lambda x: int(x.split('/')[1]) if isinstance(x, str) and '/' in x else x
    ).astype(float)

    # Convert all numeric variables to integers
    numeric_columns = df.select_dtypes(include=['float64']).columns
    df[numeric_columns] = df[numeric_columns].astype(int)

    return df

def handle_null_values(df):
    """Handle null values in the dataframe."""
    # Fill null values for numerical columns with median
    numerical_columns = df.select_dtypes(include=['float64']).columns
    for col in numerical_columns:
        median_value = df[col].median()
        df[col] = df[col].fillna(median_value)

    # Fill null values for categorical columns with mode
    categorical_columns = df.select_dtypes(include=['object']).columns
    for col in categorical_columns:
        mode_value = df[col].mode()[0]
        df[col] = df[col].fillna(mode_value)

    return df

def remove_duplicates(df):
    """Remove duplicate rows from the dataframe."""
    return df.drop_duplicates().reset_index(drop=True)

def save_cleaned_data(df, filename):
    """Save the cleaned dataframe to a CSV file."""
    df.to_csv(filename, index=False)

def main(url, output_file):
    """Main function to perform all data cleaning and formatting."""
    df = load_data(url)
    df = standardize_column_names(df)
    df = clean_invalid_values(df)
    df = format_data_types(df)
    df = handle_null_values(df)
    df = remove_duplicates(df)
    save_cleaned_data(df, output_file)
    print(f"Cleaned dataset saved to '{output_file}'.")

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [13]:
# Calculate the 75th percentile for total claim amount and 25th percentile for customer lifetime value
claim_amount_75th = df['total_claim_amount'].quantile(0.75)
lifetime_value_25th = df['customer_lifetime_value'].quantile(0.25)

# Filter the dataframe for customers meeting the criteria
high_claim_low_value = df[
    (df['total_claim_amount'] > claim_amount_75th) &
    (df['customer_lifetime_value'] < lifetime_value_25th)
]

# Display the filtered dataframe
print("Customers with high policy claim amount and low customer lifetime value:")
print(high_claim_low_value)

# Calculate summary statistics for the filtered data
summary_stats = high_claim_low_value[['total_claim_amount', 'customer_lifetime_value']].describe()
print("\nSummary statistics for high claim amount and low lifetime value:")
print(summary_stats)

Customers with high policy claim amount and low customer lifetime value:
     customer       state gender             education  \
17    OE15005        Cali      F               College
23    TZ98966      Nevada      F              Bachelor
26    US89481  California      F              Bachelor
38    CM61827      Oregon      F              Bachelor
42    IL19217  California      F              Bachelor
62    FG63582      Oregon      F              Bachelor
135   MS41162     Arizona      F  High School or Below
140   DS81757      Oregon      M               College
158   KA61892     Arizona      M               College
160   ND87334  California      M  High School or Below
170   TS19868  California      M               College
184   AB13432  California      M              Bachelor
204   FL34139  California      M  High School or Below
250   IA63417     Arizona      F  High School or Below
269   VZ51506     Arizona      F  High School or Below
279   OH60605      Oregon      F  High School or Below
304   RR77985      Oregon      F              Bachelor
388   JF36291  California      M               College
415   ZF84449      Oregon      F               College
448   NL93182      Nevada      M              Bachelor
450   WE68644      Oregon      F              Bachelor
467   AU96286      Oregon      F              Bachelor
486   FY51713     Arizona      F              Bachelor
500   XN11823      Nevada      F              Bachelor
502   PX17116      Nevada      M               College
565   XS12556  California      F               College
590   UK41984     Arizona      F                Doctor
593   ZK21724      Oregon      F  High School or Below
638   DM95829  California      M               College
645   JA41698      Nevada      M              Bachelor
669   ED50963  California      F  High School or Below
709   NZ15548      Oregon      M              Bachelor
788   TE13577      Oregon      F               College
853   TV25678  Washington      M               College
891   KJ87930        Cali      F              Bachelor
908   XM72420     Arizona      F  High School or Below
949   TD10493      Oregon      F  High School or Below
1019  OT52034        Cali      M              Bachelor
1022  UI73201        Cali      M               College
1068  GS98873     Arizona      F              Bachelor

      customer_lifetime_value  income  monthly_premium_auto  \
17                     394524   28855                   101
23                     245019       0                    73
26                     394637       0                   111
38                     309003       0                    90
42                     393900   60021                    99
62                     333976       0                    94
135                    402296       0                   117
140                    247012       0                    74
158                    387364   28142                   105
160                    228759       0                    63
170                    241313   27501                    63
184                    373583       0                   110
204                    368811       0                    63
250                    400151   19782                   108
269                    359531       0                   103
279                    365253   39679                    92
304                    288774       0                    80
388                    387364   28142                   105
415                    372672       0                   112
448                    254945       0                    78
450                    380392   20325                   100
467                    316765       0                    92
486                    357076   56168                    88
500                    376446   92600                    94
502                    362345       0                   111
565                    368309       0                   101
590                    383960       0                   112
593                    401654       0                   111
638                    252395   16244                    68
645                    309953       0                   102
669                    268886   32808                    68
709                    402381   41833                   103
788                    231973       0                    64
853                    354090       0                   101
891                    388650       0                   112
908                    391936   66676                    97
949                    289873       0                    96
1019                   386477   24204                    99
1022                   366737   62375                    92
1068                   323912   16061                    88

      number_of_open_complaints     policy_type  vehicle_class  \
17                            0   Personal Auto            SUV
23                            3  Corporate Auto  Four-Door Car
26                            0   Personal Auto  Four-Door Car
38                            0   Personal Auto   Two-Door Car
42                            0   Personal Auto  Four-Door Car
62                            0   Personal Auto   Two-Door Car
135                           0   Personal Auto            SUV
140                           0   Personal Auto   Two-Door Car
158                           0   Personal Auto         Luxury
160                           0  Corporate Auto   Two-Door Car
170                           0   Personal Auto  Four-Door Car
184                           0   Personal Auto            SUV
204                           3   Personal Auto  Four-Door Car
250                           0   Personal Auto   Two-Door Car
269                           0  Corporate Auto         Luxury
279                           0   Personal Auto   Two-Door Car
304                           0   Personal Auto  Four-Door Car
388                           0   Personal Auto         Luxury
415                           1    Special Auto         Luxury
448                           0  Corporate Auto  Four-Door Car
450                           0   Personal Auto         Luxury
467                           0  Corporate Auto  Four-Door Car
486                           0   Personal Auto  Four-Door Car
500                           0  Corporate Auto   Two-Door Car
502                           2  Corporate Auto            SUV
565                           0  Corporate Auto         Luxury
590                           2   Personal Auto            SUV
593                           0   Personal Auto            SUV
638                           0   Personal Auto   Two-Door Car
645                           5  Corporate Auto            SUV
669                           1   Personal Auto  Four-Door Car
709                           0   Personal Auto  Four-Door Car
788                           0   Personal Auto  Four-Door Car
853                           0   Personal Auto            SUV
891                           0  Corporate Auto            SUV
908                           0   Personal Auto  Four-Door Car
949                           4   Personal Auto  Four-Door Car
1019                          1   Personal Auto  Four-Door Car
1022                          0   Personal Auto   Two-Door Car
1068                          0   Personal Auto  Four-Door Car

      total_claim_amount
17                   647
23                   554
26                   799
38                   648
42                   882
62                   863
135                  975
140                  721
158                  701
160                  679
170                  542
184                  792
204                  669
250                  773
269                  741
279                  641
304                  676
388                  701
415                  806
448                  845
450                  668
467                  662
486                  614
500                  842
502                 1171
565                  564
590                  537
593                  799
638                  623
645                  862
669                  541
709                  643
788                  632
853                  727
891                 1185
908                  558
949                  691
1019                 707
1022                 618
1068                 633

Summary statistics for high claim amount and low lifetime value:
       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000