# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

```markdown
Carguemos el archivo CSV desde la URL proporcionada en el dataframe de pandas para comenzar con el proceso de limpieza y análisis de datos. Utilizaremos la variable `url` que contiene el enlace al archivo.
```

In [30]:
import pandas as pd 

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
print(df.head())
print(df.info())
print(df.describe())
print(df.columns)

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [17]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df = df.rename(columns={'st': 'state'})
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

El conjunto de datos contiene columnas con valores inconsistentes e incorrectos que podrían afectar la precisión de nuestro análisis. Por lo tanto, necesitamos limpiar estas columnas para asegurarnos de que solo contengan datos válidos.

Nota que este ejercicio se centrará únicamente en limpiar valores inconsistentes y no incluirá el manejo de valores nulos (NaN o None).

*Pista*:
- *La columna Gender contiene varios valores inconsistentes como "F", "M", "Femal", "Male", "female", que necesitan ser estandarizados, por ejemplo, a "M" y "F".*
- *Las abreviaturas de los estados pueden ser reemplazadas por su nombre completo, por ejemplo, "AZ": "Arizona", "Cali": "California", "WA": "Washington".*
- *En la columna Education, "Bachelors" podría ser reemplazado por "Bachelor".*
- *En Customer Lifetime Value, elimina el carácter `%`.*
- *En Vehicle Class, "Sports Car", "Luxury SUV" y "Luxury Car" podrían ser reemplazados por "Luxury".*

In [29]:
# Standardize the 'gender' column
df['gender'] = df['gender'].str.strip().str.lower().replace({
    'f': 'F', 'female': 'F', 'femal': 'F',
    'm': 'M', 'male': 'M'
})

# Define state mapping
state_mapping = {
    'AZ': 'Arizona',
    'WA': 'Washington',
    'NV': 'Nevada',
    'CA': 'California'
}

# Replace state abbreviations with full names
df['state'] = df['state'].replace(state_mapping)

# Standardize the 'education' column
df['education'] = df['education'].str.replace('Bachelors', 'Bachelor')

# Remove '%' from 'customer_lifetime_value' and convert to numeric
df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True).astype(float)

# Replace specific vehicle classes with 'Luxury'
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

print(df.head())

  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0      0.0                1000.0                        0.0   Personal Auto
1      0.0                  94.0                        0.0   Personal Auto
2  48767.0                 108.0                        0.0   Personal Auto
3      0.0                 106.0                        0.0  Corporate Auto
4  36357.0                  68.0                        0.0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

Es importante tener en cuenta que este ejercicio no incluye el manejo de valores nulos (NaN o None).

*Hint*:
- *El valor de por vida del cliente debe ser numérico*  
- *El número de quejas abiertas tiene un formato incorrecto. Observa los diferentes valores que toma con `unique()` y toma el valor intermedio. Por ejemplo, 1/5/00 debería ser 5. El número de quejas abiertas es una cadena: recuerda que puedes usar `split()` para manejarlo y tomar el número que necesitas. Finalmente, dado que debe ser numérico, convierte la columna a su tipo adecuado.*

In [33]:
# Ensure column names are standardized
df.columns = df.columns.str.replace(' ', '_').str.lower()

# Convert 'customer_lifetime_value' to numeric
df['customer_lifetime_value'] = df['customer_lifetime_value'].replace('%', '', regex=True).astype(float)

# Fix 'number_of_open_complaints' column
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(
    lambda x: int(x.split('/')[1]) if isinstance(x, str) and '/' in x else x
).astype(float)

print(df[['customer_lifetime_value', 'number_of_open_complaints']].head())

   customer_lifetime_value  number_of_open_complaints
0                      NaN                        0.0
1                697953.59                        0.0
2               1288743.17                        0.0
3                764586.18                        0.0
4                536307.65                        0.0

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [35]:
# Identify columns with null values and count them
null_counts = df.isnull().sum()
print("Null values in each column:")
print(null_counts)

# Strategy for handling null values:
# - For numerical columns, fill null values with the median
# - For categorical columns, fill null values with the mode

# Fill null values for numerical columns
numerical_columns = df.select_dtypes(include=['float64']).columns
for col in numerical_columns:
    median_value = df[col].median()
    df[col] = df[col].fillna(median_value)

# Fill null values for categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    mode_value = df[col].mode()[0]
    df[col] = df[col].fillna(mode_value)

# Verify that there are no null values remaining
print("\nNull values after handling:")
print(df.isnull().sum())

# Convert all numeric variables to integers
numeric_columns = df.select_dtypes(include=['float64']).columns
df[numeric_columns] = df[numeric_columns].astype(int)

print("\nData types after conversion:")
print(df.dtypes)

Null values in each column:
customer                     0
st                           0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Null values after handling:
customer                     0
st                           0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

Data types after conversion:
customer                     object
st                           object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [36]:
# Identify duplicate rows in the dataframe
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

# Strategy: Drop all duplicate rows and reset the index
df = df.drop_duplicates().reset_index(drop=True)

# Verify that duplicates have been removed
duplicates_after = df.duplicated()
print(f"Number of duplicate rows after removal: {duplicates_after.sum()}")

# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_data.csv', index=False)
print("Cleaned dataset saved to 'cleaned_data.csv'.")

Number of duplicate rows: 2936
Number of duplicate rows after removal: 0
Cleaned dataset saved to 'cleaned_data.csv'.

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here